header, section, footer, aside, article, figure {
	display: block;
}
* {
	padding:0;
	margin:0;
}
body {
    line-height: 1.4;
    font-family:'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	padding: 0 15px;
    font-weight: bold;
}
p {
	margin:15px;
}
a:link, a:visited {
	color: #0B486B;
	text-decoration: underline; 
}
a:hover, a:active { 
	text-decoration: none;
}
#wrapper {
	margin: 0 auto; 
	background-color: #a20932;
}
header {
	background-color: #fff;
}
header h1 {
	margin: 0;
	font-size: 62px;
    text-align: center;
}
article {
	background-color: #FFFFFF;
}
article h2 {
	font-size: 36px;
}
article h3 {
	font-size: 24px;
	margin-bottom: 0;
	color: #70321b;
}
aside {
	background-color: #a20932;
	color: #fff;
	padding: 10px 0;
}
aside h2 {
	font-size: 24px;
	border-bottom: solid 2px #fff;
}
footer {
	padding: 2rem 0 1rem;
	background-color: #fff;
    text-align: center;
}
img {
    max-width: 90%;
    margin: 0 0 0 5%;
    height: auto;
}
figcaption {
    color: #666;
    text-align: center;
    font-size: .8em;
    font-style: italic;
    padding: 0 5%;
    text-align: center;
}
@media screen and (min-width:600px){
    #wrapper {
        margin: 0 auto;
        max-width: 960px;
    }
    article {
        float: left;
        width: 62.5%;
    }
    aside {
        float: right;
        width: 37.5%;
    }
    aside h2 {
        width: 260px; 
    }
    header h1 {
        text-align: left;
    }
    figcaption {
        text-align: right;
    }
    footer {
        clear: both;
    }
}
